{% extends "../base.html" %}

{% block title %} {% end %}
{% block css %} {% end %}
{% block body %}
<div class="layui-body">
  <div class="layui-btn-group topToolbar">
    <a class="layui-btn layui-btn-primary" data-type="add">
      <i class="layui-icon">&#xe608;</i>添加
    </a>
  </div>
  <table class="layui-hide" id="config_table" lay-filter="config_table"></table>
</div>
{% end %}


{% block javascript %}
<script type="text/html" id="config_option">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" title="查看">
    <i class="layui-icon">&#xe705;</i>
  </a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" title="编辑">
    <i class="layui-icon">&#xe642;</i>
  </a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">
    <i class="layui-icon">&#xe640;</i>
  </a>
</script>

<script type="text/html" id="switchStatus">
  <input type="checkbox" name="status" value="{{!d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{!d.status == 1 ? 'checked' : ''}}>
</script>

<script type="text/html" id="switchNav">
  <input type="checkbox" name="nav" value="{{!d.nav}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="nav" {{!d.nav == 1 ? 'checked' : ''}}>
</script>

<script type="text/javascript">
var edit_curent_obj = false

var edit_success = function(data) {
  if (edit_curent_obj) {
    edit_curent_obj.update({
      key: data.key,
      title: data.title,
      sort: data.sort,
      status: data.status,
    })
    if (status_html[data.status]) {
      var td = edit_curent_obj.tr.children('td[data-field="status"]')
      td.html(status_html[data.status])
    }
  } else {
    window.location.reload()
  }
}

layui.use(['table','form'], function() {
  var table = layui.table
  var form = layui.form

  //执行渲染
  table.render({
    elem: '#config_table'
    ,url:'/admin/config'
    ,parseData: function(res){ //res 即为原始返回的数据
      return {
        "code": res.code, //解析接口状态
        "msg": res.msg, //解析提示文本
        "count": res.data.total, //解析数据长度
        "data": res.data.items //解析数据列表
      }
    }
    // ,width: 892
    // ,height: 'auto'
    // ,title: '用户数据表'
    ,totalRow: true
    ,cols: [[
      {field:'key', width:240, title: '{{_('key')}}', sort: true, fixed: 'left'}
      ,{field:'title', width:200, title: '{{_('title')}}', sort: true}
      ,{field:'value', width:320, title: '{{_('value')}}', sort: true}
      ,{field:'true', width:80, title: '{{_('sort')}}', sort: true}
      ,{field:'remark', width:320, title: '{{_('remark')}}', sort: true}
      ,{field:'status', width:80, title:'{{_('status')}}', templet: '#switchStatus', unresize: true}
      ,{field:'dt_created_at', title:'{{_('created_at')}}', width:200}
      ,{fixed: 'right', title:'{{_('option')}}', toolbar: '#config_option', width:150}
    ]]
    ,page: true
  })

  //监听表格复选框选择
  table.on('checkbox(config_list)', function(obj) {
    console.log(obj)
  })
  //监听工具条
  table.on('tool(config_list)', function(obj) {
    var data = obj.data;
    switch(obj.event) {
      case 'edit':
        edit_curent_obj = obj
        edit(data)
        break;
      case 'del':
        layer.confirm('删除之后无法恢复，您确定要删除吗？', function(index) {
          del(data.key, obj, index)
        });
        break;
    }
  })

  var $ = layui.$, active = {
    add: function() {
      layer.open({
        type: 2,
        title: ['添加配置', 'background-color: #00bb9d;text-align:center;font-size:18px;color:#fff;'],
        shadeClose: true,
        shade: false,
        maxmin: false,
        area: ['900px', '600px'],
        content: '/admin/config/add',
        end: function() {
          layer.closeAll()
        }
      })
    }
    ,getCheckLength: function() { //获取选中数目
      var checkStatus = table.checkStatus('config_list_table')
      ,data = checkStatus.data;
      layer.msg('选中了：'+ data.length + ' 个');
    }
    ,isAll: function() { //验证是否全选
      var checkStatus = table.checkStatus('config_list_table');
      layer.msg(checkStatus.isAll ? '全选': '未全选')
    }
  }

  $('.topToolbar .layui-btn').on('click', function() {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  })

  // 编辑
  var edit = function(data) {
    layer.open({
      type: 2,
      title: ['编辑配置', 'background-color: #00bb9d;text-align:center;font-size:18px;color:#fff;'],
      shadeClose: true,
      shade: false,
      maxmin: false,
      area: ['900px', '600px'],
      content: '/admin/config/edit?key=' + data.key
    })
  }
  // 删除
  var del = function(key, obj, index) {
    var next = '/admin/config'
    $.ajax({
      type: 'DELETE',
      url: next,
      data: {key: key, _xsrf: get_xsrf()},
      dataType: 'json',
      success: function(data) {
        obj.del();
        layer.close(index);
        if (data.code==0) {
          layer.msg('{{ _('操作成功') }}')
        } else if(data.msg) {
          layer.msg(data.msg)
        } else {
          layer.msg('{{ _('未知错误') }}')
        }
        setTimeout(function(){
          window.parent.layer.closeAll()
        }, 2000)
      },
      error: function(xhr) {
        // console.log(xhr.status)
        if (xhr.responseJSON && xhr.responseJSON.msg) {
          layer.msg(xhr.responseJSON.msg)
        } else {
          layer.msg('{{ _('未知错误') }}.')
        }
      }
    })
  }

  form.on('switch(status)', function(){
    var status = this.checked ? 1 : 0
    var key = $(this).parent().parent().parent().children('td[data-field="key"]').children('div').html()

    var params = {key:key, old_key:key, status:status, }
    params['_xsrf'] = get_xsrf()

    $.ajax({
      type: "PUT",
      url: '/admin/config',
      data: params,
      success: function(res) {
        if (res.code==0) {
          console.log('success')
        } else if(res.msg) {
          layer.msg(res.msg)
        } else {
          layer.msg('{{ _('未知错误') }}')
        }
      },
      error: function(xhr){
        // console.log(xhr.responseJSON)
        if (xhr.responseJSON && xhr.responseJSON.msg) {
          layer.msg(xhr.responseJSON.msg)
        } else {
          layer.msg('{{ _('未知错误') }}')
        }
      }
    })
  })
})
</script>
{% end %}