<!-- header -->
<div class="header_box">
<div class="header">
  <ul class="app-header">
    <li class="app-header-menuicon">
       <i class="layui-icon layui-icon-more-vertical"></i>
    </li>
  </ul>
  <h1 class="logo">
    <a href="#">logo</a>
  </h1>
  <div class="nav"  style="visibility: visible">
    <a href="/" class="active">首页</a>
    <a href="case.html">案例</a>
    <a href="service.html">服务</a>
    <a href="about.html">关于</a>
  </div>
  <ul class="layui-nav header-down-nav">
    <li class="layui-nav-item"><a href="/" class="active">首页</a></li>
    <li class="layui-nav-item"><a href="case.html">案例</a></li>
    <li class="layui-nav-item"><a href="service.html">服务</a></li>
    <li class="layui-nav-item"><a href="about.html">关于</a></li>
  </ul>
</div>
</div>
<!-- end-header -->
