<!-- header -->
<div class="header_box">
<div class="header">
  <ul class="app-header">
    <li class="app-header-menuicon">
       <i class="layui-icon layui-icon-more-vertical"></i>
    </li>
  </ul>
  <h1 class="logo">
    {% if site_logo %}
    <img alt="{{site_name}}" src="/static/image/logo.png?vsn=1.1">
    {% else %}
    LOGO
    {% end %}
  </h1>
  <div class="nav"  style="visibility: visible">
    <a href="/"{% if request.path=='/' %} class="active"{% end %}>首页</a>
    <a href="/case.html"{% if request.path.startswith('/case') %} class="active"{% end %}>案例</a>
    <a href="/service.html"{% if request.path.startswith('/service') %} class="active"{% end %}>服务</a>
    <a href="/about.html"{% if request.path.startswith('/about') %} class="active"{% end %}>关于</a>
  </div>
  <ul class="layui-nav header-down-nav">
    <li class="layui-nav-item"><a href="/"{% if request.path=='/' %} class="active"{% end %}>首页</a></li>
    <li class="layui-nav-item"><a href="/case.html"{% if request.path.startswith('/case') %} class="active"{% end %}>案例</a></li>
    <li class="layui-nav-item"><a href="/service.html"{% if request.path.startswith('/service') %} class="active"{% end %}>服务</a></li>
    <li class="layui-nav-item"><a href="/about.html"{% if request.path.startswith('/about') %} class="active"{% end %}>关于</a></li>

  </ul>
</div>
</div>
<!-- end-header -->
