*.pyc
*.bak
*local.*
*.pem
*venv
*.log.*
.idea
*.php
*.pdf
.env
Pipfile.lock
logs/*.log
node_modules
configs/*local*
upload/*/*.*
statics/upload
statics/upload/*
statics/upload/*.*
statics/upload/*/*.*
statics/upload/*/*/*.*
statics/upload/*/*/*/*.*
applications/statics/upload/*/*.*
applications/statics/upload
applications/statics/layui/css/modules/layim/*
applications/statics/layui/lay/modules/layim.js

package-lock.json
