*.pyc
*.bak
local.py
requirements.txt
*.pem
*venv
logs/*.log
*.log.*
node_modules
.idea
*.php
upload/avator
applications/statics/upload/avator
*.pdf
remove_bocai_tb.sql
applications/statics/upload
applications/statics/layui/css/modules/layim/*
applications/statics/layui/lay/modules/layim.js
Pipfile.lock
