[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
trest = {editable = true,git = "https://gitee.com/leeyi/trest.git",ref = "master"}
qrcode = "*"
oss2 = "*"
PyJWT = "*"
sqlalchemy-utils = "*"
sqlacodegen = "*"

[requires]
python_version = "3.7"
