<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} 彭氏农产品开发有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Edible Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<link rel="shortcut icon" href="/static/{{ app_name }}/favicon.ico" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/static/{{ app_name }}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/{{ app_name }}/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/{{ app_name }}/js/bootstrap.js"></script>
<link rel="stylesheet" href="{{ static_url('home/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ static_url('home/css/style.css') }}">
{% block style %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
{% block javascript %}{% endblock %}