    <!-- footer -->
    <div class="footer">
        <!-- container -->
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 footer-grid">
                    <div class="footer-grid-info">
                        <h3>Popular</h3>
                    </div>
                    <div class="footer-grid-list col-md-6" style="padding-right: 0; padding-left: 0;">
                        <ul>
                            {% for arc in populars_left %}
                            <li><a href="/article/{{ arc.id }}" title="{{ arc.title }}">{{ arc.title|truncate(18) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-grid-list col-md-6" style="padding-right: 0; padding-left: 0;">
                        <ul>
                            {% for arc in populars_right %}
                            <li><a href="/article/{{ arc.id }}" title="{{ arc.title }}">{{ arc.title|truncate(18) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 footer-grid">
                    <div class="footer-grid-info">
                        <h3>{{ footer_address.title }}</h3>
                    </div>
                    <div class="footer-grid-list col-md-6">
                        {{ footer_address.value|safe }}
                    </div>
                    <div class="footer-grid-list col-md-6">
                        <h4>联系方式</h4>
                        <p>
                            {{telephone.title}} : {{telephone.value}}
                            <span>{{fax.title}} : {{fax.value}}</span>
                            {{email.title}} : <a href="mailto:{{email.title}}">{{email.title}}</a>
                        </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- //footer -->